DOORBELL_VIEWPORT_PROTECT_HOST={{doorbell_viewport_protect_host}}
DOORBELL_VIEWPORT_PROTECT_USERNAME={{vault_doorbell_viewport_protect_username}}
DOORBELL_VIEWPORT_PROTECT_PASSWORD={{vault_doorbell_viewport_protect_password}}
DOORBELL_VIEWPORT_CAMERA_ID={{doorbell_viewport_camera_id}}
DOORBELL_VIEWPORT_TIMEOUT={{doorbell_viewport_timeout}}
DOORBELL_VIEWPORT_TOUCH_MATCH={{doorbell_viewport_touch_match}}
DOORBELL_VIEWPORT_PREBUFFER_MODE={{doorbell_viewport_prebuffer_mode}}
DOORBELL_VIEWPORT_DISPLAY_BACKEND={{doorbell_viewport_display_backend}}
DOORBELL_VIEWPORT_ORIENTATION={{doorbell_viewport_orientation}}
DOORBELL_VIEWPORT_DRM_DEVICE={{doorbell_viewport_drm_device}}
DOORBELL_VIEWPORT_DRM_CONNECTOR={{doorbell_viewport_drm_connector}}
DOORBELL_VIEWPORT_DRM_MODE={{doorbell_viewport_drm_mode}}
