[Unit]
Description=WriteFreely %I Instance
After=syslog.target network.target

[Service]
WorkingDirectory=/run/writefreely/%i
ExecStart=/usr/local/bin/writefreely -c /etc/writefreely/%i.conf
Restart=always

[Install]
WantedBy=multi-user.target
