[Unit]
Description=WriteFreely %I Instance
After=syslog.target network.target

[Service]
WorkingDirectory={{writefreely_dir}}/%i/
ExecStart=/usr/local/bin/writefreely
Restart=always
User={{writefreely_user}}

[Install]
WantedBy=multi-user.target
