scan-path={{cgit_scan_path}}
remove-suffix=1
virtual-root=/

root-title={{cgit_root_title}}
root-desc={{cgit_root_desc}}

difftype=ssdiff

enable-http-clone=1
enable-index-links=1
enable-log-filecount=1
enable-log-linecount=1

source-filter=/usr/lib/cgit/filters/syntax-highlighting.py
about-filter=/usr/lib/cgit/filters/about-formatting.sh
