CREATE USER miniflux;
ALTER USER miniflux WITH PASSWORD '{{miniflux_db_pass}}';
CREATE DATABASE miniflux WITH OWNER miniflux;
\c miniflux;
--Extensions made by miniflux that need superuser access
CREATE EXTENSION IF NOT EXISTS hstore;
