{
    "bridge": {
        "name": "Homebridge",
        "username": "{{ansible_default_ipv4.macaddress | upper}}",
        "port": {{homebridge_port}},
        "pin": "{{homebridge_pin}}"
    },

    "description": "Homebridge",

    "platforms": [

        {"platform": "Camera-ffmpeg",
         "cameras": [

        {% for cam in homebridge_rtsp_cams %}
            {"name": "{{cam.name}}", "videoConfig": {
                "source": "-i {{cam.rtsp_url}}",
                "stillImageSource": "-i {{cam.rtsp_url}} -vframes 1 -r 1",
                "vcodec": "{{homebridge_rtsp_vcodec}}",
                "maxStreams": {{homebridge_rtsp_max_streams}},
                "debug": {{homebridge_rtsp_debug}}
            }
        {% if not loop.last %}
        },
        {% else %}
        }
        {% endif %}
        {% endfor %}
        ]}

    ],

    "accessories": [
        {
          "accessory": "Roomba",
          "name": "Roomba",
          "model": "{{homebridge_roomba_model}}",
          "blid": "{{homebridge_roomba_blid}}",
          "robotpwd": "{{homebridge_roomba_passwd}}",
          "ipaddress": "{{homebridge_roomba_ip}}",
          "autoRefreshEnabled": {{homebridge_roomba_auto_refresh}},
          "keepAliveEnabled": {{homebridge_roomba_keep_alive}},
          "cacheTTL": {{homebridge_roomba_cache_TTL}}
        }
    ]

}
