CREATE USER {{prosody_db}};
ALTER USER {{prosody_db}} WITH PASSWORD '{{prosody_db_pass}}';
CREATE DATABASE {{prosody_db}} ENCODING 'UTF8' LC_COLLATE='C.UTF-8' LC_CTYPE='C.UTF-8' template=template0 OWNER {{prosody_db}};
