[Unit]
Description=Minecraft Server
Documentation=https://minecraft.gamepedia.com/Tutorials/Setting_up_a_server

Wants=network.target
After=network.target

[Service]
User={{minecraft_user}}
Group={{minecraft_user}}
WorkingDirectory={{minecraft_dir}}
Restart=on-failure
RestartSec=20 5
ExecStart=/usr/bin/java -Xms1536M -Xmx1536M -jar server.jar nogui

PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true

[Install]
WantedBy=multi-user.target
