[Unit]
Description=Periodic Matter device clock synchronization

[Timer]
OnBootSec={{mattertimesync_on_boot_sec}}
OnUnitActiveSec={{mattertimesync_on_active_sec}}
RandomizedDelaySec={{mattertimesync_randomized_delay_sec}}

[Install]
WantedBy=timers.target
