[Unit]
Description=Matter device clock synchronization
Wants=network-online.target
After=network-online.target time-sync.target

[Service]
Type=oneshot
User={{mattertimesync_user}}
Group={{mattertimesync_user}}
ExecStart=/usr/bin/node {{mattertimesync_install_dir}}/mattertimesync.mjs --config {{mattertimesync_config_dir}}/config.json sync
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths={{mattertimesync_storage_path}}
