UNIFI_PROTECT_VIEWPORT_PROTECT_HOST={{unifi_protect_viewport_protect_host}}
UNIFI_PROTECT_VIEWPORT_PROTECT_USERNAME={{vault_unifi_protect_viewport_protect_username}}
UNIFI_PROTECT_VIEWPORT_PROTECT_PASSWORD={{vault_unifi_protect_viewport_protect_password}}
UNIFI_PROTECT_VIEWPORT_CAMERA_ID={{unifi_protect_viewport_camera_id}}
UNIFI_PROTECT_VIEWPORT_TIMEOUT={{unifi_protect_viewport_timeout}}
UNIFI_PROTECT_VIEWPORT_TOUCH_MATCH={{unifi_protect_viewport_touch_match}}
UNIFI_PROTECT_VIEWPORT_ORIENTATION={{unifi_protect_viewport_orientation}}
UNIFI_PROTECT_VIEWPORT_DRM_DEVICE={{unifi_protect_viewport_drm_device}}
UNIFI_PROTECT_VIEWPORT_DRM_CONNECTOR={{unifi_protect_viewport_drm_connector}}
UNIFI_PROTECT_VIEWPORT_DRM_MODE={{unifi_protect_viewport_drm_mode}}
