[Unit]
Description=UniFi Protect Viewport
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{unifi_protect_viewport_user}}
Group={{unifi_protect_viewport_user}}
EnvironmentFile=/etc/unifi-protect-viewport/unifi-protect-viewport.env
ExecStart=/usr/local/bin/unifi-protect-viewport
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
