services:
  korsync:
    image: koreader/kosync:latest
    container_name: korsync
    restart: unless-stopped
    ports:
      - "127.0.0.1:{{korsync_port}}:17200"
    environment:
      - ENABLE_USER_REGISTRATION={{korsync_user_registration}}
    logging:
      driver: journald
    volumes:
      - {{korsync_dir}}/data/redis:/var/lib/redis
